body {
    height: 1000px;
    /*background-image: linear-gradient(rgba(5, 122, 191, 0.28), white) , url(../Images/circle.png);*/
    background-repeat: no-repeat;
    font-family: "Oxanium", cursive;
    background-image: url(../ImagesCom/background.png);
    background-size:100%;
    /*background-image: url('./Images/circle.png'), linear-gradient(rgba(5, 122, 191, 0.28), white);*/
    /*background-image: url('./Images/circle.png');*/
    /*background-image: url("./Images/circle.png"); 
    background-image: url('./Images/circle.png'), linear-gradient(rgba(5, 122, 191, 0.72), white);*/
}

table{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*Nav Bar Start*/
#navbaropt a {
    font-weight: normal;
    text-decoration: none;
    color: #2c2c2c;
}

#leftlogo{
    text-align: left;
}

#rightlogo{
    text-align: right;
}


#navbaropt a,
#navbaropt a:after,
#navbaropt a:before {
  transition: all 0.5s;
}
#navbaropt a:hover {
  color: #0077bd;
  text-decoration: underline;
  font-size: 22px;
}


/*Nav Bar End*/

/*Footer Start*/
#footeropt {
  /*width: 70px;*/
}

/*Footer Start*/

